{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% for meta in page.metadata %}
    <meta {% if meta.name %}name="{{ meta.name }}" {% endif %}{% if meta.http_equiv %}http-equiv="{{ meta.http_equiv }}" {% endif %}{% if meta.charset %}charset="{{ meta.charset }}" {% endif %}{% if meta.property %}property="{{ meta.property }}" {% endif %}{% if meta.content %}content="{{ meta.content }}" {% endif %}/>
    {% endfor %}

    <link rel="canonical" href="{{ page.url(true, true) }}" />
    <link rel="shortcut icon" href="/favicon.gif" type="image/gif" />
    <link rel="shortcut icon" href="/favicon.gif" type="image/x-icon" />

    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Raleway:400,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400&subset=latin,greek' rel='stylesheet' type='text/css'>

    {% block stylesheets %}
        {% do assets.addCss('theme://css/application.css', 98) %}
    {% endblock %}
    {{ assets.css() }}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

{% endblock head %}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% if menu %}
{% include 'partials/nav.html.twig' %}
{% endif %}

{% block body %}
    {% block content %}{% endblock %}
{% endblock %}

{% include 'partials/footer.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">
        var quotes = {{ grav.theme.config.quotes|json_encode }};
    </script>
    {% do assets.addJs('https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js', 1000) %}
    {% do assets.addJs('theme://js/bootstrap.min.js', 900) %}
    {% do assets.addJs('http://cdnjs.cloudflare.com/ajax/libs/three.js/r69/three.min.js', 800) %}
    {% do assets.addJs('theme://js/main.js') %}
{% endblock %}
{{ assets.js() }}

</body>
</html>
