<p class="text-center">
  <a href="mailto:{{ grav.theme.config.social.mail }}">{{ grav.theme.config.social.mail }}</a>  
  <a href="{{ grav.theme.config.social.twitter }}">@chroma_space</a>  
  <a href="{{ grav.theme.config.social.github }}">gh/chroma-space</a>   
  <a href="{{ grav.theme.config.social.facebook }}">fb/chroma.space</a> 
  &#xA9; {{ "now"|date('Y') }} chroma.space
</p>