{% set poster = page.media['poster.jpg'].url ?: (page.media['poster.png'].url ?: false) %}
{% set header = page.media['header.jpg'].url ?: (page.media['header.png'].url ?: false) %}
{% set panorama = page.media['panorama.jpg'].url ?: (page.media['panorama.png'].url ?: false) %}
{% set video = page.media['header.mp4'].url ?: false %}

{% if video or poster %}

  <video autoplay loop muted preload="auto" class="
    {% if page.header.video_pause == "true" %} pauseable-video{% endif %}
    {% if page.header.play_once == "true" %} play-once{% endif %}
    banner-{{page.header.banner_align?:'center'}}" 
    {% if poster == true %} poster="{{ poster }}" {% endif %}
    >
    <source src="{{ video }}" type="video/mp4"/>
  </video>
  {% if page.header.video_mute  == 'true' %}
    <div class="video-controls">
      <span class="glyphicon glyphicon-volume-off unmute"></span>
      <span class="glyphicon glyphicon-volume-up mute" style="display:none"></span>
    </div>
  {% endif %}

{% elseif header %}
  <img class="banner-{{page.header.banner_align?:'center'}}" src="{{ header }}" />

{% elseif panorama %}
  <canvas class="panorama" style="background-image: url({{ panorama }})" panorama-images="{{ panorama }}" user-control="{{page.header.panorama_user_control}}" longitude-speed="{{page.header.panorama_longitude_speed}}"></canvas>

{% endif %}

{% if page.header.splash_description %}
  <div class="splash-bottom" style="display: none;">
    <div class="info">
      {{ page.header.splash_description }}
    </div>
  </div>
{% endif %}
