{% extends 'partials/base.html.twig' %}
{% set menu = true %}

{% block content %}
    <div class="splash">
      <video autoplay loop preload="auto" poster="{{ page.media['poster.png'].url?:page.media['poster.jpg'].url }}">
        <source src="{{ page.media['header.mp4'].url }}" type="video/mp4"/>
      </video>
      <h1 style="display:none"><span class="splash-title">{{ page.title }}</span></h1>    
    </div>
    
    <div id="arrows" class="scrollable" style="margin-top: -100px; text-align: center; opacity: 1; margin-bottom: 30px;">
      <span id="arrowstext">⇣</span>
    </div>
    
    <div class="about-container" style="background-image: url({{ page.media['background.png'].url ?: page.media['background.jpg'].url }});">
      <canvas class="about-background"></canvas>
      <div class="container">
        <div id="about" class="about">
          <h1>About</h1>
          {{ page.content }}
          <div>
            <img class="line-icon" src="{{ url('theme://images/homepage/toggle.svg') }}">
            <a href="/about">who we are</a>
          </div>
          <div>
            <img class="line-icon" src="{{ url('theme://images/homepage/overlap.svg') }}">
            <a href="/now">what we're up to</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container projects-container">
      <div id="projects" class="projects">

        <h1 class="page-heading">Projects</h1>

        <div class="project-list row">
          {% for project in page.collection %}
            {% set thumbnail = project.media['thumbnail.jpg'].url ?: (project.media['thumbnail.png'].url ?: false) %}
            <div class="col-md-3">
              <div class="project-desc">
                <div>
                  <h2>
                    {{ project.title }}
                  </h2>
                  <a class="post-link" href="{{ project.url }}">
                    <img class="img-circle" src="{% if thumbnail %}{{ thumbnail }}{% elseif project.media.images|length > 0 %}{{ (project.media.images|first).cropZoom(300,300).url }}{% else %}{{ url('theme://images/thumbnail.svg') }}{% endif %}" />
                  </a>
                  <div class="description">{{ (project.taxonomy.tags|default({}))|implode(', ') }}</div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

    </div><!-- /.container -->
{% endblock %}
