{% extends 'partials/base.html.twig' %}
{% set menu = true %}

{% block content %}  
    <div class="half-splash">
        {% include 'partials/media.html.twig' %}
    </div>

    <div class="container">
        <header class="post-header">
            <h1 class="post-title">NOW</h1>
        </header>
      
        <div class="now-container">{{ page.content }}</div>

        <div class="post-list">
          {% for item in aggregate(page.collection) %}

            {% set w = (1+random(1)) * 210 %}
            {% set h = (1+random(1)) * 210 %}

            {% if item.type == "page" %}
              {% set page = item.data %}
              {% set thumbnail = page.media['thumbnail.jpg'].url ?: (page.media['thumbnail.png'].url ?: false) %}
              <a class="now-post-link" href="{{ page.url }}">
                <div class="now-image" style="
                      background-image: url('{% if thumbnail %}{{ thumbnail }}{% elseif page.media.images|length > 0 %}{{ (page.media.images|first).url }}{% else %}{{ url('theme://images/thumbnail.svg') }}{% endif %}'); 
                      width: {{ w }}px; height: {{ h }}px">
                  <span class="now-date">{{ page.date|date("d-m-Y") }}</span>
                  <span class="now-title">{{ page.title }}</span>
                </div>
              </a>
            {% else %}
              {% set post = item.data %}
              <a class="now-post-link" href="{{ post.link }}">
                <div class="now-image" style="
                              background-image: url('{{ post.fileUrl }}'); 
                              width: {{ w }}px; height: {{ h }}px">
                  <span class="now-date">{{ item.date|date("d-m-Y") }}</span>
                  <span class="now-title"><img class="now-picto" src="{{ url('theme://images/' ~ post.provider ~ '.png') }}"> {{ post.headline|slice(0,20) }}...</span>
                </div>
              </a>
            {% endif %}
          {% else %}
          <div class="col-md-12">
            <em>Nothing so far ...</em>
          </div>
          {% endfor %}
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% do assets.addJs('https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js') %}
    {% do assets.addJs('theme://js/packery.min.js') %}
    {% do assets.addJs('theme://js/now.js') %}
{% endblock %}